node_modules/
dist/
dist-scripts/
src/generated/
*.log
.env
.env.local
.env.production
.DS_Store
coverage/
src/generated_test/
.vscode/
*generated_test.lock*

# Local examples/tests not checked in
local/
nebius-api/nebius/example
